<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
    <title>Signup</title>
</head>

<body>
    <div class="content">
        <div class="container">
            <h2><b>Signup</b></h2>
            <div class="inputs">
                <form action="{% url 'signup' %}" method="post">
                    {% csrf_token %}
                    <label>First name:</label>
                    {{ form.first_name }}
                    <label>Last name:</label>
                    {{ form.last_name }}
                    <label>Email:</label>
                    {{ form.email }}
                    <label>Create password:</label>
                    {{ form.password1 }}
                    <label>Confirm password:</label>
                    {{ form.password2 }}
                    <div class="Signup-btn">
                        <input type="submit" value="Signup" class="signup">
                    </div>
                </form>
            </div>
            <h5>Already have an account? <a href="{% url 'login' %}">Log in instead</a></h5>
        </div>
        <div class="display">
        </div>
    </div>
</body>

</html>