{% extends 'base_user_dashboard.html' %} {% block title %} Orders {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
<div class="dash-contents">
    <div class="profile-settings">
        <h1>Orders</h1>
        <div class="orders-container">
            <div id="orders" class="tabcontent">
                <ul>
                    {% for order in user_orders %}
                    <div class="morders">
                        <li>
                            <strong>ID: </strong> {{ order.order_group }}<br>
                            <strong>Date: </strong> {{ order.date|date:"d-M-Y" }}<br>
                            <strong>Cost: </strong> N{{ order.total_cost }}<br>
                            <strong>Status: </strong> {{ order.status }}<br>
                            <a href="#">View Details</a>
                        </li>
                        {% empty %}
                        <li>No orders yet.</li>
                        {% endfor %}
                    </div>

                </ul>

            </div>
        </div>

    </div>
    <style>
        .orders-container {
            width: 95%;
            height: auto;
            min-height: 50px;
            background-color: #bdbcbcc3;
            border-radius: 10px;
        }
    </style>
    {% endblock %}