{% extends 'base_user_dashboard.html' %} {% block title %} Orders {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
<div class="dash-contents">
    <div class="profile-settings">
        <h1>Orders</h1>
        <div class="orders-container">
            <div id="orders" class="tabcontent">
                <div class="order-labels">
                    <div class="olabels">
                        <p>Order no.</p>
                    </div>
                    <div class="olabels">
                        <p>Order date</p>
                    </div>
                    <div class="olabels">
                        <p>Total items</p>
                    </div>
                    <div class="olabels">
                        <p>Total cost</p>
                    </div>
                    <div class="olabels">
                        <p>Status</p>
                    </div>

                </div>
                {% for order in user_orders %}
                <div class="morders">
                    <div class="oorders">
                        <p>{{ order.order_no }}</p>
                    </div>
                    <div class="oorders">
                        <p>{{ order.order_date|date:"d-M-Y" }}</p>
                    </div>
                    <div class="oorders">
                        <p>{{ order.total_items }}</p>
                    </div>
                    <div class="oorders">
                        <p><span class="naira"><del style="text-decoration-style: double;">N</del></span>{{ order.total_cost }}</p>
                    </div>
                    <div class="oorders">
                        <p>{{ order.status }}</p>
                    </div>
                </div>
                {% endfor %}


            </div>
        </div>

    </div>
    {% endblock %}