{% extends 'base_user_dashboard.html' %} {% block title %} Orders {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/orders.css' %}">
<div class="dash-contents">
    <div class="profile-settings">
        <h1>Orders</h1>
        <div class="orders-container">
            <div id="orders" class="tabcontent">
                {% for order in user_orders %}
                <div class="morders">
                    <p><strong>Order no.: </strong> {{ order.order_no }}<br></p>
                    <p><strong>Order date: </strong> {{ order.order_date|date:"d-M-Y H:i" }}<br></p>
                    <p><strong>Total items: </strong> {{ order.total_items }}<br></p>
                    <p><strong>Total cost: </strong> N{{ order.total_cost }}<br></p>
                    <p><strong>Status: </strong> {{ order.status }}<br></p>
                    <p><button class="details">View Details</button></p>
                </div>
                {% endfor %}


            </div>
        </div>

    </div>
    {% endblock %}