{% extends 'base_user_dashboard.html' %} {% block title %} Pickup {% endblock %} {% block content %} {% load static %}
<link rel="stylesheet" href="{% static 'css/pickup.css' %}">
<div class="dash-contents">
    <div class="profile-settings">
        <h1>Pickup</h1>
        <div class="tab">
            <button id="defaultOpen" class="tablinks" onclick="openTab(event, 'Men')"><i class="las la-male" style="font-size: 24px;"></i>Men</button>
            <button class="tablinks" onclick="openTab(event, 'Women')"><i class="las la-female" style="font-size: 24px; margin-right: 5px;"></i>Women</button>
            <button class="tablinks" onclick="openTab(event, 'Kids')"><i class="las la-child" style="font-size: 24px; margin-right: 5px;"></i>Kids</button>
            <button class="tablinks" onclick="openTab(event, 'Others')"><i class="las la-ellipsis-h" style="font-size: 24px; margin-right: 5px;"></i>Others</button>
            <button class="preview-count" style="float: right; padding: 10px 16px;"><i class="las la-truck-loading" style="font-size: 33px;"></i></button>
        </div>
        <div class="pickup-container">
            <div id="Men" class="tabcontent">
                <h3>Men's wear</h3>
                {% if laundry_items %}
                <div class="label">
                    <div class="item-image-label"></div>
                    <div class="item-name-label">Name</div>
                    <div class="item-description-label">Description</div>
                    <div class="item-count-label">Quantity</div>
                    <div class="item-cost-label">Price</div>
                </div>
                {% for item in laundry_items %} {% if item.category.name == 'Men' %}
                <div class="item">
                    <div class="item-image"><img src="{{ item.image.url }}" class="laundry-image"></div>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-description">{{ item.description }}</div>
                    <div class="item-count">
                        <button class="btn decrease" data-id="{{ item.id }}"><i class="fa-solid fa-minus fa-2xs"></i></button>
                        <p class="counter" data-id="{{ item.id }}">0</p>
                        <button class="btn increase" data-id="{{ item.id }}"><i class="fa-solid fa-plus fa-2xs"></i></button>
                    </div>
                    <div class="item-cost">N{{ item.price }}</div>
                </div>

                {% endif %} {% endfor %} {% endif %}
            </div>
            <div id="Women" class="tabcontent">
                <h4>Women's wear</h4>
                {% if laundry_items %}
                <div class="label">
                    <div class="item-image-label"></div>
                    <div class="item-name-label">Name</div>
                    <div class="item-description-label">Description</div>
                    <div class="item-count-label">Quantity</div>
                    <div class="item-cost-label">Price</div>
                </div>
                {% for item in laundry_items %} {% if item.category.name == 'Women' %}
                <div class="item">
                    <div class="item-image"><img src="{{ item.image.url }}" class="laundry-image"></div>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-description">{{ item.description }}</div>
                    <div class="item-count">
                        <button class="btn decrease" data-id="{{ item.id }}"><i class="fa-solid fa-minus fa-2xs"></i></button>
                        <p class="counter" data-id="{{ item.id }}">0</p>
                        <button class="btn increase" data-id="{{ item.id }}"><i class="fa-solid fa-plus fa-2xs"></i></button>
                    </div>
                    <div class="item-cost">N{{ item.price }}</div>
                </div>

                {% endif %} {% endfor %} {% endif %}
            </div>
            <div id="Kids" class="tabcontent">
                <h4>kids' wear</h4>
                {% if laundry_items %}
                <div class="label">
                    <div class="item-image-label"></div>
                    <div class="item-name-label">Name</div>
                    <div class="item-description-label">Description</div>
                    <div class="item-count-label">Quantity</div>
                    <div class="item-cost-label">Price</div>
                </div>
                {% for item in laundry_items %} {% if item.category.name == 'Kids' %}
                <div class="item">
                    <div class="item-image"><img src="{{ item.image.url }}" class="laundry-image"></div>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-description">{{ item.description }}</div>
                    <div class="item-count">
                        <button class="btn decrease" data-id="{{ item.id }}"><i class="fa-solid fa-minus fa-2xs"></i></button>
                        <p class="counter" data-id="{{ item.id }}">0</p>
                        <button class="btn increase" data-id="{{ item.id }}"><i class="fa-solid fa-plus fa-2xs"></i></button>
                    </div>
                    <div class="item-cost">N{{ item.price }}</div>
                </div>

                {% endif %} {% endfor %} {% endif %}
            </div>
            <div id="Others" class="tabcontent">
                <h4>Others</h4>
                {% if laundry_items %}
                <div class="label">
                    <div class="item-image-label"></div>
                    <div class="item-name-label">Name</div>
                    <div class="item-description-label">Description</div>
                    <div class="item-count-label">Quantity</div>
                    <div class="item-cost-label">Price</div>
                </div>
                {% for item in laundry_items %} {% if item.category.name == 'Others' %}
                <div class="item">
                    <div class="item-image"><img src="{{ item.image.url }}" class="laundry-image"></div>
                    <div class="item-name">{{ item.name }}</div>
                    <div class="item-description">{{ item.description }}</div>
                    <div class="item-count">
                        <button class="btn decrease" data-id="{{ item.id }}"><i class="fa-solid fa-minus fa-2xs"></i></button>
                        <p class="counter" data-id="{{ item.id }}">0</p>
                        <button class="btn increase" data-id="{{ item.id }}"><i class="fa-solid fa-plus fa-2xs"></i></button>

                    </div>
                    <div class="item-cost">N{{ item.price }}</div>
                </div>
                {% endif %} {% endfor %} {% endif %}
            </div>

        </div>
    </div>

</div>
<div class="checkout-preview">

</div>
<div class="checkout-box">
    <div class="top">
        <h1>Preview Basket</h1>
        <button class="cancel-modal">&times;</button>
    </div>
    <div class="basket-label">
        <div class="checkout-name-label">Name</div>
        <div class="checkout-description-label">Description</div>
        <div class="checkout-count-label">Quantity</div>
        <div class="checkout-cost-label">Cost</div>
    </div>
    <div class="basket">

    </div>
    <div class="proceed">
        <button class="cancel-pay">cancel</button>
        <button type="submit" class="proceed-pay" value="Proceed">Proceed</button>
    </div>
</div>
<script src="{% static 'js/pickup.js' %}"></script>
{% endblock %}