{% extends 'base_user_dashboard.html' %}

{% block title  %}
Profile
{% endblock %}

{% block content %}
<div class="dash-contents">
        <div class="profile-settings">
            <h1>Profile</h1>
            <form action="{% url 'profile' %}" method="post">
                {% csrf_token %}
                <div class="inputs">
                <div class="fname">
                    <label for="first name">First Name</label><br>
                    {{ form.first_name }}
                </div>

                <div class="lname">
                    <label for="Last name">Last Name</label><br>
                    {{ form.last_name }}
                </div>
                <br>
                <div class="mail">
                    <label for="Email">Email</label><br>
                    {{ form.email }}
                </div>

                <div class="pnumber">
                    <label for="Phone number">Phone number</label><br>
                    {{ form.phone_number }}
                </div>
                <br>
                <div class="address">
                    <label for="Address">Address</label><br>
                    {{ form.address }}
                </div>


            </div>
            <div class="buttons">
                <input type="submit" class="update">
                <a class="cancel">Cancel</a>
            </div>
            </form>

        </div>

</div>
{% endblock %}