<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickup</title>
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
</head>

<body>

    <aside>
        <div class="user">

        </div>
        <a href="">
            <div class="pickup">Pickup</div>
        </a>
        <a href="">
            <div class="profile">Profile</div>
        </a>
        <a href="">
            <div class="notifications">Notifications</div>
        </a>
        <a href="">
            <div class="logout">Logout</div>
        </a>

    </aside>
</body>

</html>