<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pickup</title>
    <link rel="stylesheet" href="{% static 'css/user_dashboard.css' %}">
</head>

<body>

    <aside>
        <div class="user">

        </div>
        <a href="">
            <div class="pickup">Pickup</div>
        </a>
        <a href="">
            <div class="profile">Profile</div>
        </a>
        <a href="">
            <div class="notifications">Notifications</div>
        </a>
        <a href="{% url 'logout' %}">
            <div class="logout">Logout</div>
        </a>

    </aside>
    <div class="dash-contents">
        <div class="profile-settings">
            <h1>Profile</h1>

            <div class="inputs">
                <div class="fname">
                    <label for="first name">First Name</label><br>
                    <input type="text">
                </div>

                <div class="lname">
                    <label for="Last name">Last Name</label><br>
                    <input type="text">
                </div>
                <br>
                <div class="mail">
                    <label for="Email">Email</label><br>
                    <input type="text">
                </div>

                <div class="pnumber">
                    <label for="Phone number">Phone number</label><br>
                    <input type="text">
                </div>
                <br>
                <div class="address">
                    <label for="Address">Address</label><br>
                    <input type="text">
                </div>


            </div>
            <div class="buttons">
                <button class="update">Update</button>
                <button class="cancel">Cancel</button>
            </div>
        </div>

    </div>
</body>

</html>