.label {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    text-align: center;
    padding: 15px 10px;
    font-size: 1rem;
}

.item {
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding: 15px 10px;
    font-size: 1rem;
}

.morders {
    background-color: #e3e3e3;
    margin: 10px auto 0 auto;
    border: none;
    border-radius: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
    font-size: .8em;
}

.orders-container {
    padding-top: 10px;
    padding-bottom: 20px;
    width: 95%;
    height: auto;
    min-height: 50px;
    background-color: #bdbcbcc3;
    border-radius: 10px;
    text-align: center;
}

.order-labels {
    background-color: #e3e3e3;
    margin: 10px auto 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border: none;
    border-radius: 20px;
    width: 90%;
    display: flex;
    text-align: center;
    font-size: 1em;
}

.olabels {
    width: 20%;
    font-weight: 700;
    font-family: 'Josefin Sans', sans-serif;
}

.oorders {
    width: 20%;
    font-size: 1.1em;
    font-family: 'Josefin Sans', sans-serif;
}